In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

--> Concatenate Numerical and Categorical dataframes into one dataframe called data.

In [2]:
#read numericals df
data_path = r'C:\Users\Andrea\Documents\DATA\lab-cleaning-numerical-data\files_for_lab\numerical1.csv'
data_num = pd.read_csv(data_path)
data_num.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,Day,Week,Month
0,2763.519279,56274,69,32,5,0,1,384.811147,24,8,2
1,6979.535903,0,94,13,42,0,8,1131.464935,31,5,1
2,12887.431650,48767,108,18,38,0,2,566.472247,19,7,2
3,7645.861827,0,106,18,65,0,7,529.881344,20,3,1
4,2813.692575,43836,73,12,44,0,1,138.130879,3,5,2

In [3]:
#read categoricals df
data_path = r'C:\Users\Andrea\Documents\DATA\lab-cleaning-numerical-data\files_for_lab\categorical1.csv'
data_cat = pd.read_csv(data_path)
data_cat.head()

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor or above,Employed,F,Suburban,Married,Corporate Auto,Agent,Car,Medsize
1,Arizona,No,Extended,Bachelor or above,Unemployed,F,Suburban,Single,Personal Auto,Agent,Car,Medsize
2,Nevada,No,Premium,Bachelor or above,Employed,F,Suburban,Married,Personal Auto,Agent,Car,Medsize
3,California,No,Basic,Bachelor or above,Unemployed,M,Suburban,Married,Corporate Auto,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor or above,Employed,M,Rural,Single,Personal Auto,Agent,Car,Medsize

In [4]:
#Concat
data = pd.concat([data_num, data_cat], axis=1)
data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,Day,Week,...,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,24,8,...,Basic,Bachelor or above,Employed,F,Suburban,Married,Corporate Auto,Agent,Car,Medsize
1,6979.535903,0,94,13,42,0,8,1131.464935,31,5,...,Extended,Bachelor or above,Unemployed,F,Suburban,Single,Personal Auto,Agent,Car,Medsize
2,12887.431650,48767,108,18,38,0,2,566.472247,19,7,...,Premium,Bachelor or above,Employed,F,Suburban,Married,Personal Auto,Agent,Car,Medsize
3,7645.861827,0,106,18,65,0,7,529.881344,20,3,...,Basic,Bachelor or above,Unemployed,M,Suburban,Married,Corporate Auto,Call Center,SUV,Medsize
4,2813.692575,43836,73,12,44,0,1,138.130879,3,5,...,Basic,Bachelor or above,Employed,M,Rural,Single,Personal Auto,Agent,Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,10,6,...,Basic,Bachelor or above,Employed,M,Urban,Married,Personal Auto,Web,Car,Medsize
9130,3096.511217,21604,79,14,28,0,1,379.200000,12,6,...,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Branch,Car,Medsize
9131,8163.890428,0,85,9,37,3,2,790.784983,6,5,...,Extended,Bachelor or above,Unemployed,M,Suburban,Single,Corporate Auto,Branch,Car,Medsize
9132,7524.442436,21941,96,34,3,0,3,691.200000,3,5,...,Extended,College,Employed,M,Suburban,Married,Personal Auto,Branch,Car,Large
9133,2611.836866,0,77,3,90,0,1,369.600000,14,7,...,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Call Center,Car,Medsize

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_lifetime_value        9134 non-null   float64
 1   income                         9134 non-null   int64
 2   monthly_premium_auto           9134 non-null   int64
 3   months_since_last_claim        9134 non-null   int64
 4   months_since_policy_inception  9134 non-null   int64
 5   number_of_open_complaints      9134 non-null   int64
 6   number_of_policies             9134 non-null   int64
 7   total_claim_amount             9134 non-null   float64
 8   Day                            9134 non-null   int64
 9   Week                           9134 non-null   int64
 10  Month                          9134 non-null   int64
 11  state                          9134 non-null   object
 12  response                       9134 non-null   object
 13  coverage                       9134 non-null   object
 14  education                      9134 non-null   object
 15  employmentstatus               9134 non-null   object
 16  gender                         9134 non-null   object
 17  location_code                  9134 non-null   object
 18  marital_status                 9134 non-null   object
 19  policy_type                    9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  vehicle_class                  9134 non-null   object
 22  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(9), object(12)
memory usage: 1.6+ MB

# 1. In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [6]:
X = data.drop(['total_claim_amount'],axis=1)
y = data['total_claim_amount']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
X_train.shape

(7307, 22)

# 2. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [9]:
#Numericals
X_train_num = X_train.select_dtypes(np.number)
X_test_num = X_test.select_dtypes(np.number)
X_train_num.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Day,Week,Month
2820,4729.593583,29414,64,2,32,0,3,5,1,1
5619,22620.748410,49564,193,22,82,0,2,28,4,1
3242,7942.174213,41832,66,19,15,0,2,20,3,1
4142,6521.368813,72608,82,26,19,3,8,9,1,1
6036,6919.016085,0,69,5,85,1,2,16,2,1

In [10]:
y_train.head()

2820     71.303109
5619    286.370988
3242    402.749918
4142    393.600000
6036     40.401396
Name: total_claim_amount, dtype: float64

In [11]:
#Categoricals
X_train_cat = X_train.select_dtypes(object)
X_test_cat= X_test.select_dtypes(object)
X_train_cat.head()

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,sales_channel,vehicle_class,vehicle_size
2820,California,No,Basic,Bachelor or above,Medical Leave,M,Rural,Divorced,Personal Auto,Branch,Car,Medsize
5619,Nevada,No,Premium,Bachelor or above,Employed,F,Rural,Single,Corporate Auto,Agent,Sports Car,Medsize
3242,Arizona,No,Basic,Bachelor or above,Employed,M,Suburban,Married,Personal Auto,Call Center,Car,Small
4142,Oregon,Yes,Extended,College,Employed,F,Suburban,Married,Personal Auto,Agent,Car,Medsize
6036,California,No,Basic,High School or Below,Unemployed,F,Rural,Single,Corporate Auto,Branch,Car,Medsize

# 3. Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.

In [12]:
#Using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(X_train_num) 
X_train_scaled_arr = transformer.transform(X_train_num)
X_train_scaled = pd.DataFrame(X_train_scaled_arr, columns=X_train_num.columns)
X_train_scaled.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Day,Week,Month
0,0.039148,0.294196,0.012658,0.057143,0.323232,0.0,0.250,0.133333,0.000000,0.0
1,0.286501,0.495734,0.556962,0.628571,0.828283,0.0,0.125,0.900000,0.058824,0.0
2,0.083563,0.418399,0.021097,0.542857,0.151515,0.0,0.125,0.633333,0.039216,0.0
3,0.063920,0.726218,0.088608,0.742857,0.191919,0.6,0.875,0.266667,0.000000,0.0
4,0.069418,0.000000,0.033755,0.142857,0.858586,0.2,0.125,0.500000,0.019608,0.0

In [13]:
from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(X_test_num) 
X_test_scaled_arr = transformer.transform(X_test_num)
X_test_scaled = pd.DataFrame(X_test_scaled_arr, columns=X_test_num.columns)
X_test_scaled.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Day,Week,Month
0,0.034802,0.309349,0.247863,0.428571,0.181818,0.0,0.0,0.366667,0.098039,1.0
1,0.035203,0.498703,0.256410,0.085714,0.555556,0.0,0.0,0.933333,0.058824,0.0
2,0.039285,0.000000,0.038462,0.028571,0.111111,0.0,0.5,0.233333,0.000000,0.0
3,0.028377,0.779739,0.192308,0.342857,0.767677,0.0,0.0,0.766667,0.137255,1.0
4,0.010341,0.924393,0.034188,0.114286,0.656566,0.0,0.0,0.066667,0.000000,0.0

# 4. Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)

In [14]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [15]:
X_train_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7307 entries, 2820 to 7343
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             7307 non-null   object
 1   response          7307 non-null   object
 2   coverage          7307 non-null   object
 3   education         7307 non-null   object
 4   employmentstatus  7307 non-null   object
 5   gender            7307 non-null   object
 6   location_code     7307 non-null   object
 7   marital_status    7307 non-null   object
 8   policy_type       7307 non-null   object
 9   sales_channel     7307 non-null   object
 10  vehicle_class     7307 non-null   object
 11  vehicle_size      7307 non-null   object
dtypes: object(12)
memory usage: 742.1+ KB

In [16]:
#Trainning set
OHE_cols = X_train_cat[['state','marital_status','policy_type','sales_channel','vehicle_class','response','gender']]

In [17]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(OHE_cols)
encoded_cat = encoder.transform(OHE_cols).toarray()
cols = encoder.get_feature_names_out(input_features= OHE_cols.columns)
onehot_encoded = pd.DataFrame(encoded_cat, columns=cols)
onehot_encoded.head().T

                             0    1    2    3    4
state_California           1.0  0.0  0.0  0.0  1.0
state_Nevada               0.0  1.0  0.0  0.0  0.0
state_Oregon               0.0  0.0  0.0  1.0  0.0
state_Washington           0.0  0.0  0.0  0.0  0.0
marital_status_Married     0.0  0.0  1.0  1.0  0.0
marital_status_Single      0.0  1.0  0.0  0.0  1.0
policy_type_Personal Auto  1.0  0.0  1.0  1.0  0.0
policy_type_Special Auto   0.0  0.0  0.0  0.0  0.0
sales_channel_Branch       1.0  0.0  0.0  0.0  1.0
sales_channel_Call Center  0.0  0.0  1.0  0.0  0.0
sales_channel_Web          0.0  0.0  0.0  0.0  0.0
vehicle_class_Luxury Car   0.0  0.0  0.0  0.0  0.0
vehicle_class_Luxury SUV   0.0  0.0  0.0  0.0  0.0
vehicle_class_SUV          0.0  0.0  0.0  0.0  0.0
vehicle_class_Sports Car   0.0  1.0  0.0  0.0  0.0
response_Yes               0.0  0.0  0.0  1.0  0.0
gender_M                   1.0  0.0  1.0  0.0  0.0

In [18]:
onehot_encoded.shape

(7307, 17)

In [19]:
#Encoding X test
X_test_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827 entries, 8469 to 6571
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             1827 non-null   object
 1   response          1827 non-null   object
 2   coverage          1827 non-null   object
 3   education         1827 non-null   object
 4   employmentstatus  1827 non-null   object
 5   gender            1827 non-null   object
 6   location_code     1827 non-null   object
 7   marital_status    1827 non-null   object
 8   policy_type       1827 non-null   object
 9   sales_channel     1827 non-null   object
 10  vehicle_class     1827 non-null   object
 11  vehicle_size      1827 non-null   object
dtypes: object(12)
memory usage: 185.6+ KB

In [20]:
OHE_cols_test = X_test_cat[['state','marital_status','policy_type','sales_channel','vehicle_class','response','gender']]

In [21]:
from sklearn.preprocessing import OneHotEncoder

encoder_test = OneHotEncoder(drop='first').fit(OHE_cols_test)
encoded_test_1 = encoder.transform(OHE_cols_test).toarray()
cols_test = encoder.get_feature_names_out(input_features= OHE_cols_test.columns)
onehot_encoded_test = pd.DataFrame(encoded_test_1, columns=cols_test)
onehot_encoded_test.head().T
display(onehot_encoded_test.shape)

(1827, 17)

In [22]:
encoder = OneHotEncoder(drop='first').fit(OHE_cols)
encoded_cat = encoder.transform(OHE_cols).toarray()
cols = encoder.get_feature_names_out(input_features= OHE_cols.columns)
onehot_encoded = pd.DataFrame(encoded_cat, columns=cols)
onehot_encoded.head().T

                             0    1    2    3    4
state_California           1.0  0.0  0.0  0.0  1.0
state_Nevada               0.0  1.0  0.0  0.0  0.0
state_Oregon               0.0  0.0  0.0  1.0  0.0
state_Washington           0.0  0.0  0.0  0.0  0.0
marital_status_Married     0.0  0.0  1.0  1.0  0.0
marital_status_Single      0.0  1.0  0.0  0.0  1.0
policy_type_Personal Auto  1.0  0.0  1.0  1.0  0.0
policy_type_Special Auto   0.0  0.0  0.0  0.0  0.0
sales_channel_Branch       1.0  0.0  0.0  0.0  1.0
sales_channel_Call Center  0.0  0.0  1.0  0.0  0.0
sales_channel_Web          0.0  0.0  0.0  0.0  0.0
vehicle_class_Luxury Car   0.0  0.0  0.0  0.0  0.0
vehicle_class_Luxury SUV   0.0  0.0  0.0  0.0  0.0
vehicle_class_SUV          0.0  0.0  0.0  0.0  0.0
vehicle_class_Sports Car   0.0  1.0  0.0  0.0  0.0
response_Yes               0.0  0.0  0.0  1.0  0.0
gender_M                   1.0  0.0  1.0  0.0  0.0

In [23]:
display(onehot_encoded_test.shape)

(1827, 17)

In [24]:
#Encoding ordinals
Ordinal_cols = X_train_cat[['coverage','employmentstatus','location_code','vehicle_size','education']]
Ordinal_cols_test = X_test_cat[['coverage','employmentstatus','location_code','vehicle_size','education']]

In [25]:
Ordinal_cols["coverage"] = Ordinal_cols["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\3711549395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols["coverage"] = Ordinal_cols["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})

In [26]:
Ordinal_cols_test["coverage"] = Ordinal_cols_test["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\2297176111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols_test["coverage"] = Ordinal_cols_test["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1})

In [27]:
#Check status unique values
X_train_cat["employmentstatus"].unique()

array(['Medical Leave', 'Employed', 'Unemployed', 'Disabled', 'Retired'],
      dtype=object)

In [28]:
Ordinal_cols["employmentstatus"] = Ordinal_cols["employmentstatus"].map({"Unemployed" : 0, "Medical Leave" : 0,"Disabled" : 0, "Retired" : 0.5, "Employed" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\1956541465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols["employmentstatus"] = Ordinal_cols["employmentstatus"].map({"Unemployed" : 0, "Medical Leave" : 0,"Disabled" : 0, "Retired" : 0.5, "Employed" : 1})

In [29]:
Ordinal_cols_test["employmentstatus"] = Ordinal_cols_test["employmentstatus"].map({"Unemployed" : 0, "Medical Leave" : 0,"Disabled" : 0, "Retired" : 0.5, "Employed" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\3131076988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols_test["employmentstatus"] = Ordinal_cols_test["employmentstatus"].map({"Unemployed" : 0, "Medical Leave" : 0,"Disabled" : 0, "Retired" : 0.5, "Employed" : 1})

In [30]:
X_train_cat["location_code"].unique()

array(['Rural', 'Suburban', 'Urban'], dtype=object)

In [31]:
Ordinal_cols["location_code"] = Ordinal_cols["location_code"].map({"Rural" : 0, "Urban" : 0.5, "Suburban" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\3504892941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols["location_code"] = Ordinal_cols["location_code"].map({"Rural" : 0, "Urban" : 0.5, "Suburban" : 1})

In [32]:
Ordinal_cols_test["location_code"] = Ordinal_cols_test["location_code"].map({"Rural" : 0, "Urban" : 0.5, "Suburban" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\174913866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols_test["location_code"] = Ordinal_cols_test["location_code"].map({"Rural" : 0, "Urban" : 0.5, "Suburban" : 1})

In [33]:
X_test_cat["vehicle_size"].unique()

array(['Large', 'Small', 'Medsize'], dtype=object)

In [34]:
Ordinal_cols["vehicle_size"] = Ordinal_cols["vehicle_size"].map({"Large" : 0, "Medsize" : 0.5, "Small" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\2558381196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols["vehicle_size"] = Ordinal_cols["vehicle_size"].map({"Large" : 0, "Medsize" : 0.5, "Small" : 1})

In [35]:
Ordinal_cols_test["vehicle_size"] = Ordinal_cols_test["vehicle_size"].map({"Large" : 0, "Medsize" : 0.5, "Small" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\1536358849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols_test["vehicle_size"] = Ordinal_cols_test["vehicle_size"].map({"Large" : 0, "Medsize" : 0.5, "Small" : 1})

In [36]:
X_test_cat["education"].unique()

array(['Bachelor or above', 'High School or Below', 'College'],
      dtype=object)

In [37]:
Ordinal_cols["education"] = Ordinal_cols["education"].map({"High School or Below" : 0, "College" : 0.5, "Bachelor or above" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\2530576066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols["education"] = Ordinal_cols["education"].map({"High School or Below" : 0, "College" : 0.5, "Bachelor or above" : 1})

In [38]:
Ordinal_cols_test["education"] = Ordinal_cols_test["education"].map({"High School or Below" : 0, "College" : 0.5, "Bachelor or above" : 1})

C:\Users\Andrea\AppData\Local\Temp\ipykernel_68004\3216303059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ordinal_cols_test["education"] = Ordinal_cols_test["education"].map({"High School or Below" : 0, "College" : 0.5, "Bachelor or above" : 1})

In [39]:
Ordinal_cols.isna().sum()
#Ordinal_cols.shape
Ordinal_cols.head().T

                  2820  5619  3242  4142  6036
coverage           0.0   1.0   0.0   0.5   0.0
employmentstatus   0.0   1.0   1.0   1.0   0.0
location_code      0.0   0.0   1.0   1.0   0.0
vehicle_size       0.5   0.5   1.0   0.5   0.5
education          1.0   1.0   1.0   0.5   0.0

In [40]:
Ordinal_cols_test.isna().sum()
#Ordinal_cols.shape
Ordinal_cols_test.head().T

                  8469  5080  338   5506  3383
coverage           0.0   0.5   0.0   0.0   0.0
employmentstatus   1.0   1.0   0.0   1.0   1.0
location_code      0.5   1.0   0.0   0.0   1.0
vehicle_size       0.0   1.0   0.5   0.5   0.5
education          1.0   1.0   1.0   0.0   1.0

# 5. Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.

In [41]:
#Checking the Train data
onehot_encoded = onehot_encoded.reset_index(drop=True)
display(onehot_encoded.shape)
Ordinal_cols = Ordinal_cols.reset_index(drop=True)
display(Ordinal_cols.shape)
X_train_scaled = X_train_scaled.reset_index(drop=True)
display(X_train_scaled.shape)

Train_data = pd.concat([onehot_encoded, Ordinal_cols, X_train_scaled], axis=1)
Train_data

(7307, 17)

(7307, 5)

(7307, 10)

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,...,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Day,Week,Month
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.039148,0.294196,0.012658,0.057143,0.323232,0.0,0.250,0.133333,0.000000,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.286501,0.495734,0.556962,0.628571,0.828283,0.0,0.125,0.900000,0.058824,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.083563,0.418399,0.021097,0.542857,0.151515,0.0,0.125,0.633333,0.039216,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.063920,0.726218,0.088608,0.742857,0.191919,0.6,0.875,0.266667,0.000000,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.069418,0.000000,0.033755,0.142857,0.858586,0.2,0.125,0.500000,0.019608,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.039747,0.209970,0.303797,1.000000,0.909091,0.0,0.000,0.566667,0.117647,1.0
7303,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.142870,0.432522,0.177215,0.428571,0.161616,0.0,0.125,0.233333,0.098039,1.0
7304,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.007074,0.000000,0.037975,0.400000,0.959596,0.0,0.000,0.166667,0.078431,1.0
7305,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.011966,0.562847,0.033755,0.914286,0.050505,0.0,0.000,0.766667,0.137255,1.0
7306,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.025104,0.933257,0.130802,0.571429,0.565657,0.0,0.000,0.300000,0.098039,1.0

In [42]:
#Checking the test data
onehot_encoded_test = onehot_encoded_test.reset_index(drop=True)
display(onehot_encoded_test.shape)
Ordinal_cols_test = Ordinal_cols_test.reset_index(drop=True) 
display(Ordinal_cols_test.shape)
X_test_scaled = X_test_scaled.reset_index(drop=True)
display(X_test_scaled.shape)


Test_data = pd.concat([onehot_encoded_test, Ordinal_cols_test, X_test_scaled], axis=1)
Test_data

(1827, 17)

(1827, 5)

(1827, 10)

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,...,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Day,Week,Month
0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.034802,0.309349,0.247863,0.428571,0.181818,0.0,0.000,0.366667,0.098039,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.035203,0.498703,0.256410,0.085714,0.555556,0.0,0.000,0.933333,0.058824,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.039285,0.000000,0.038462,0.028571,0.111111,0.0,0.500,0.233333,0.000000,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.028377,0.779739,0.192308,0.342857,0.767677,0.0,0.000,0.766667,0.137255,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.010341,0.924393,0.034188,0.114286,0.656566,0.0,0.000,0.066667,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.014924,0.000000,0.128205,0.200000,0.141414,0.2,0.000,0.566667,0.039216,0.0
1823,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.052479,0.257830,0.076923,0.371429,0.636364,0.0,0.875,0.833333,0.058824,0.0
1824,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.040379,0.536972,0.017094,0.714286,0.707071,0.2,0.500,0.100000,0.000000,0.0
1825,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.040670,0.926156,0.017094,0.000000,0.030303,0.0,0.250,1.000000,0.078431,0.0
1826,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.119409,0.254094,0.175214,0.285714,0.777778,0.0,0.125,0.833333,0.058824,0.0


# 6. Try a simple linear regression with all the data to see whether we are getting good results.

In [43]:
#Lineal regression on Train data
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm.fit(Train_data, y_train)

LinearRegression()

In [44]:
from sklearn.metrics import r2_score
predictions = lm.predict(Train_data)
r2_score(y_train, predictions)

0.7636302079759878

In [45]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_train, predictions)
mse

19950.6000102367

In [46]:
rmse = np.sqrt(mean_squared_error(y_train, predictions))
rmse

141.24659291549904

In [47]:
#Lineal regression on Test data
from sklearn.linear_model import LinearRegression

lm_test = LinearRegression()
lm_test.fit(Test_data, y_test)

LinearRegression()

In [48]:
predictions_test = lm_test.predict(Test_data)
r2_score(y_test, predictions_test)

0.7860302539320774

In [49]:
mse_test =mean_squared_error(y_test,predictions_test)
mse_test

18031.044974666496

In [50]:
rmse_test = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse_test

134.27972659588823

# 7. Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

In [58]:
def train_and_test_models(models, X_train, y_train, X_test, y_test):
    for model in models:
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        print("Type of model:", type(model).__name__)
        print("Train_set - Mean Squared Error:", mean_squared_error(y_train, y_train_pred))
        print("Train_set - r2 Score:", r2_score(y_train, y_train_pred))
        print("Test_set - Mean Squared Error:", mean_squared_error(y_test, y_test_pred))
        print("Test_set - r2 Score:", r2_score(y_test, y_test_pred))
        print("________________________________________________")
        print(" ")

In [59]:
from sklearn.linear_model import LinearRegression
#from sklearn.linear_model import LogisticRegression (DOESN'T work)
#from sklearn.ensemble import RandomForestClassifier (DOESN'T work)
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

models = [LinearRegression(), RandomForestRegressor(), KNeighborsRegressor()]

train_and_test_models(models, Train_data, y_train, Test_data, y_test)

Type of model: LinearRegression
Train_set - Mean Squared Error: 19950.6000102367
Train_set - r2 Score: 0.7636302079759878
Test_set - Mean Squared Error: 18584.55694217846
Test_set - r2 Score: 0.7794618706076226
________________________________________________

Type of model: RandomForestRegressor
Train_set - Mean Squared Error: 1933.0434601769575
Train_set - r2 Score: 0.9770977774893507
Test_set - Mean Squared Error: 12965.15257554292
Test_set - r2 Score: 0.846145888481868
________________________________________________

Type of model: KNeighborsRegressor
Train_set - Mean Squared Error: 23816.600743166713
Train_set - r2 Score: 0.7178267840820463
Test_set - Mean Squared Error: 36172.53298147346
Test_set - r2 Score: 0.5707499089734487
________________________________________________

# 8. Use the function to check LinearRegressor and KNeighborsRegressor.

In [60]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

models = [LinearRegression(), KNeighborsRegressor()]

train_and_test_models(models, Train_data, y_train, Test_data, y_test)

Type of model: LinearRegression
Train_set - Mean Squared Error: 19950.6000102367
Train_set - r2 Score: 0.7636302079759878
Test_set - Mean Squared Error: 18584.55694217846
Test_set - r2 Score: 0.7794618706076226
________________________________________________

Type of model: KNeighborsRegressor
Train_set - Mean Squared Error: 23816.600743166713
Train_set - r2 Score: 0.7178267840820463
Test_set - Mean Squared Error: 36172.53298147346
Test_set - r2 Score: 0.5707499089734487
________________________________________________

# 9. You can check also the MLPRegressor for this task!

In [61]:
def train_and_test_models(models, X_train, y_train, X_test, y_test):
    for model in models:
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        print("Type of model:", type(model).__name__)
        print("Train_set - Mean Squared Error:", mean_squared_error(y_train, y_train_pred))
        print("Train_set - r2 Score:", r2_score(y_train, y_train_pred))
        print("Test_set - Mean Squared Error:", mean_squared_error(y_test, y_test_pred))
        print("Test_set - r2 Score:", r2_score(y_test, y_test_pred))
        print("________________________________________________")
        print(" ")
        
from sklearn.neural_network import MLPRegressor
models = [MLPRegressor()]

train_and_test_models(models, Train_data, y_train, Test_data, y_test)

Type of model: MLPRegressor
Train_set - Mean Squared Error: 18013.989306549476
Train_set - r2 Score: 0.7865746943085867
Test_set - Mean Squared Error: 17361.156421578064
Test_set - r2 Score: 0.7939796480908476
________________________________________________

C:\Users\Andrea\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

# 10. Check and discuss the results.

I consider that The MLPRegressor model has better performance in terms of lower error and greater 
ability to explain the variation in the total amount claimed.